<form class="border p-3 rounded-5">
    <div class="row g-0">
        <div class="col-text-center p-2 mb-3 bg-light">
            <span class="fs-3">Student Registration</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="First Name">
        </div>
        <div class="col mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="Last Name">
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="Email">
            <div class="form-text"></div>
        </div>
        </div>
    <div class="row">
        <div class="col mb-3">
            <label for="mobile" class="form-label">Mobile No.</label>
            <input type="text" class="form-control" id="mobile">
            <div class="form-text"></div>
        </div>
        </div>
    <div class="row">
        <div class="col mb-3">
            <label for="pwd" class="form-label">Password</label>
            <input type="text" class="form-control" id="pwd">
            <div class="form-text"></div>
        </div>
        <div class="col mb-3">
            <label for="rpwd" class="form-label">Repeat Password</label>
            <input type="text" class="form-control" id="rpwd">
            <div class="form-text"></div>
        </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
</form>
